body{
    background-color: rgb(204, 178, 212);
}
.transaction-list{
    border: 1px solid black;
    position:relative;
    left: 30%;
    display:grid
}
.transaction-form{
    position: relative;
    left:30%;
}
.search{
    position: relative;
    left:30%;
}
.Bank{
    position: relative;
    left : 30%;
}
.date{
    border: 1px solid black
}

.categories{
    display: grid;
}
.description{
    gap: 20px;
}