body{
    background-color: rgb(204, 178, 212);
}
.transaction-list{
    border: 1px solid black;
    position:relative;
    left: 20%;
    display:grid
}
.transaction-form{
    position: relative;
    left: 20%;
}
.search{
    position: relative;
    left: 20%;
}
.Bank{
    position: relative;
    left : 20%;
}
.date{
    border: 1px solid black
}

.categories{
    display: grid;
}
.Title{
    position: relative;
    left: 25%;
}