body{
    background-color: rgb(204, 178, 212);
}
.transaction-list{
    border: 1px solid black;
    position:relative;
    left: 10%;
    display:grid
}
.transaction-form{
    position: relative;
    left: 10%;
}
.search{
    position: relative;
    left:10%;
}
.Bank{
    position: relative;
    left : 10%;
}
.date{
    border: 1px solid black
}

.categories{
    display: grid;
}
